body
{
    background-image:url("/img/Fondo.jpg") !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: 0;
    min-height: 100vh;
}

.fondoOpaco
{
    background: rgba(5, 7, 12, 0.5);
    display: flex;
    justify-content: center;
}

.fondoIcono
{
    background:rgba(203, 224, 240, 0.5);
    border-radius: 15%;
}

.inputInfo
{
    text-align: center;
    color:whitesmoke;
    background: transparent;
}

.contenedor
{
    display: flex;
    justify-content: center;
    border-style: 3%, solid, black;
   
}
.mapa
{
    width: 50vw; 
    height: 30vh;
    
}