body
{
    /*background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,109,156,1) 43%, rgba(53,116,129,1) 100%);
    */
    background-image: url(/img/Fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
}

.fondoOpaco
{
    background: rgba(5, 7, 12, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 15%;
}

.fondoIcono
{
    background:rgba(203, 224, 240, 0.5);
    border-radius: 3%;
}

/*.inputInfo
{
    text-align: center;
    color:whitesmoke;
    background: transparent;
    border: none;
    word-break:break-all;
    display:table;
    display:inline-block;
    position:absolute;
}*/
.mapa
{
    width: auto; 
    height: auto;
    justify-content: center;
}

.fuente
{
    color: beige;
}


